/* BASE */

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightcoral;
}

a {
	color: #050505;
	text-decoration: none;
	font-size: 1.3rem;
}

/* HELPERS */

.grid {
	display: grid;
}

/* flexbox */

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

/* CONTENT */

/* navbar */

.main-nav {
	background-color: lightskyblue;
	padding: 0 3rem;
}

.main-nav .logo a {
	font-size: 2.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-list {
	height: 7rem;
	list-style: none;
}

.nav-list > li {
	margin: 0 2rem;
}

/* main-header */

h1 {
	padding: 15px;
}

/* gallery */

.gallery {
	grid-template-columns: repeat(auto-fill, 15rem);
	grid-auto-rows: 15rem;
	gap: 15px;
	padding: 15px;
	justify-content: center;
}

.gallery article {
	overflow: hidden;
}

.gallery img {
	width: 15rem;
	cursor: pointer;
	transition: transform 0.5s;
}

.gallery img:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/* image-editor */

.image-editor {
	display: none;
	margin-top: 20px;
	padding: 0 20px;
}

/* canvas */

.canvas-container {
	background-color: deepskyblue;
	width: 70vw;
	height: 50vw;
	border: 1px solid black;
}

.canvas {
	display: block;
	margin: 0 auto;
}

/* control-box */

.control-box {
	border: 1px solid black;
	width: 30vw;
	height: 50vw;
	padding: 15px;
}

.control-box button > img {
	width: 2rem;
}

.control-box button > p {
	width: 2rem;
	font-size: 1.3rem;
}

.main-footer {
	height: 7rem;
	padding: 0 3rem;
	background-color: lightgreen;
}

.main-footer .logo a {
	font-size: 2rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* media queries */

@media (max-width: 550px) {
	html {
		font-size: 13px;
	}
}
