/* BASE */

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #383b42;
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	color: #fefefe;
	text-decoration: none;
	font-size: 1.3rem;
}

button {
	cursor: pointer;
}

/* HELPERS */

.grid {
	display: grid;
}

/* flexbox */

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

/* CONTENT */

/* navbar */

.main-nav {
	background-color: lightskyblue;
	background: linear-gradient(to right, #0f9bb4, #31ba72);
	padding: 0 3rem;
	border-radius: 4rem;
}

.main-nav .logo a {
	font-size: 2.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-list {
	height: 5rem;
	list-style: none;
}

.nav-list > li {
	margin: 0 2rem;
	padding: 0.3rem 0.7rem;
}

.nav-list > li:hover {
	background-color: #fff;
	border-radius: 1.5rem;
}

.nav-list > li:hover > a {
	color: #21ac91;
}

.nav-list > li > a {
	padding: 0.3rem 0.7rem;
	text-transform: capitalize;
}

/* MAIN-CONTENT */

.main-content input[name='search'] {
	margin: 15px;
	padding: 0.5rem 1.3rem;
	font-size: 1.1rem;
	border-radius: 1rem;
	border: none;
	background-color: #23252d;
	color: #eee;
	min-width: 150px;
	width: 40%;
	background-image: url('../img/ICONS/search.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 25px;
}

.main-content input[name='search']:focus {
	outline: none;
	box-shadow: 1px 1px 1px 0px #fff, -1px -1px 1px 0px #fff;
}

.keywords-container {
	background-color: #86888d;
	border-radius: 1rem;
	padding: 0.2rem 1.3rem;
	margin-right: 15px;
	width: 40%;
}

.keywords-container article {
	margin: 0 10px;
	cursor: pointer;
	color: #eee;
}

.keywords-container article:hover {
	opacity: 0.7;
}

.btn-more {
	border: none;
	background: linear-gradient(to right, #0f9bb4, #31ba72);
	border-radius: 1rem;
	padding: 0.3rem 1.3rem;
	color: #eee;
	font-size: 1.1rem;
}

.btn-more:hover {
	background: linear-gradient(to right, #31ba72, #0f9bb4);
	opacity: 0.8;
}

/* gallery */

.gallery {
	grid-template-columns: repeat(auto-fill, 15rem);
	grid-auto-rows: 15rem;
	gap: 15px;
	padding: 15px;
	justify-content: center;
	overflow: scroll;
	max-height: 32rem;
}

/* scrollbar */

.gallery::-webkit-scrollbar {
	width: 1em;
}

.gallery::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #23252d;
}

.gallery::-webkit-scrollbar-thumb {
	background: linear-gradient(#0f9bb4, #31ba72);
	border-radius: 1rem;
}

.gallery article {
	overflow: hidden;
	border-radius: 1rem;
}

.gallery img {
	width: 15rem;
	cursor: pointer;
	transition: transform 0.5s;
	border-radius: 1rem;
}

.gallery img:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/* image-editor */

.image-editor {
	display: none;
	padding: 20px;
	padding-bottom: calc(7rem + 20px);
}

/* canvas */

.canvas-container {
	background-color: deepskyblue;
	width: 60vw;
	height: 50vw;
	border: 1px solid black;
}

.canvas {
	display: block;
	margin: 0 auto;
}

/* control-box */

.control-box {
	border: 1px solid black;
	width: 40vw;
	height: 50vw;
	padding: 15px;
}

.control-box input[name='meme-text'] {
	border: none;
	width: 100%;
	padding: 0.5rem 0.3rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
	text-align: center;
}

.control-box input[name='meme-text']:focus {
	outline: none;
	box-shadow: 2px 2px 1px 0px #000, -2px -2px 1px 0px #000;
}

.control-box .control-buttons {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
	background-color: #19a59f;
	padding: 2rem;
	border-radius: 1rem;
}

.control-box button {
	padding: 0.15rem;
	border: none;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	max-width: 4rem;
	min-width: 3rem;
}

.control-box button:hover {
	background-color: #ccc;
}

.control-box button:hover > img,
.control-box button:hover > p {
	transform: scale(1.2);
}

.control-box button > img {
	width: 3rem;
	transition: transform 0.3s;
}

.control-box button > p {
	width: 3rem;
	font-size: 2.3rem;
	line-height: 1.4;
	transition: transform 0.3s;
}

.control-buttons input[name^='txt'] {
	opacity: 0;
	position: absolute;
	padding: 24px;
	z-index: 1;
	cursor: pointer;
}

/* footer */

.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2.5rem;
	padding: 0 3rem;
	background-color: lightgreen;
	background: linear-gradient(to right, #0f9bb4, #31ba72);
	border-radius: 4rem;
}

.main-footer .logo a {
	font-size: 2rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* media queries */

@media (max-width: 1200px) {
	html {
		font-size: 15px;
	}

	.control-box .control-buttons {
		grid-template-columns: repeat(4, minmax(3rem, 1fr));
		grid-template-rows: repeat(3, 1fr);
	}
}

@media (max-width: 825px) {
	.control-box .control-buttons {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media (max-width: 690px) {
	html {
		font-size: 13px;
	}

	.image-editor {
		flex-direction: column;
	}

	.canvas-container {
		width: 95vw;
	}

	.control-box {
		height: 30%;
		width: 95vw;
	}

	.control-box .control-buttons {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}
